# This file was auto-generated by Fern from our API Definition.

import typing

from ..core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ..core.request_options import RequestOptions
from ..types.absolute_path import AbsolutePath
from ..types.begin_download_response import BeginDownloadResponse
from ..types.checkpoint_id import CheckpointId
from ..types.grep_response import GrepResponse
from ..types.list_file_revisions_response import ListFileRevisionsResponse
from ..types.list_path_entries_response import ListPathEntriesResponse
from ..types.path_entry import PathEntry
from ..types.revision_no import RevisionNo
from .raw_client import AsyncRawFilesClient, RawFilesClient

# this is used as the default value for optional parameters
OMIT = typing.cast(typing.Any, ...)


class FilesClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawFilesClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> RawFilesClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawFilesClient
        """
        return self._raw_client

    def content(
        self,
        namespace_id: str,
        *,
        path: str,
        revision_no: typing.Optional[RevisionNo] = None,
        snapshot_id: typing.Optional[CheckpointId] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> typing.Iterator[bytes]:
        """
        Returns the current file bytes, a retained revision, or the revision captured by a live snapshot.

        Parameters
        ----------
        namespace_id : str
            Namespace id

        path : str
            Absolute file path

        revision_no : typing.Optional[RevisionNo]
            Optional prior revision number; cannot be combined with snapshot_id

        snapshot_id : typing.Optional[CheckpointId]
            Use the file revision captured by this snapshot

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration. You can pass in configuration such as `chunk_size`, and more to customize the request and response.

        Returns
        -------
        typing.Iterator[bytes]
            File bytes

        Examples
        --------
        from loonfs.server import LoonFS

        client = LoonFS(
            token="YOUR_TOKEN",
            base_url="https://yourhost.com/path/to/api",
        )
        client.files.content(
            namespace_id="namespace_id",
            path="path",
        )
        """
        with self._raw_client.content(
            namespace_id, path=path, revision_no=revision_no, snapshot_id=snapshot_id, request_options=request_options
        ) as r:
            yield from r.data

    def create_download(
        self,
        namespace_id: str,
        *,
        path: AbsolutePath,
        snapshot_id: typing.Optional[CheckpointId] = None,
        revision_no: typing.Optional[RevisionNo] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> BeginDownloadResponse:
        """
        Authorizes one direct read of a file's content object and returns a short-lived presigned GET capability, the resolved revision, and the content reference the client checks the arriving bytes against. `Range` is outside the signature, so one grant serves ranged, resumed, and parallel reads. Deployments that cannot presign answer 501 `not_supported`; the proxied `GET /filesystem/content` route stays available and is capped by `download.max_content_bytes`.

        Parameters
        ----------
        namespace_id : str
            Namespace id

        path : AbsolutePath
            Absolute path of the file to read.

        snapshot_id : typing.Optional[CheckpointId]
            Use the file revision captured by this snapshot

        revision_no : typing.Optional[RevisionNo]
            Revision to read, or `None` for the path's current revision.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        BeginDownloadResponse
            Download authorized

        Examples
        --------
        from loonfs.server import LoonFS

        client = LoonFS(
            token="YOUR_TOKEN",
            base_url="https://yourhost.com/path/to/api",
        )
        client.files.create_download(
            namespace_id="namespace_id",
            snapshot_id="chk_00000000000000000000000000000002",
            path="/docs/report.txt",
        )
        """
        _response = self._raw_client.create_download(
            namespace_id, path=path, snapshot_id=snapshot_id, revision_no=revision_no, request_options=request_options
        )
        return _response.data

    def list(
        self,
        namespace_id: str,
        *,
        path: str,
        limit: typing.Optional[int] = None,
        cursor: typing.Optional[str] = None,
        include_attributes: typing.Optional[bool] = None,
        snapshot_id: typing.Optional[CheckpointId] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ListPathEntriesResponse:
        """
        Lists a directory from the current state or a live snapshot.

        Parameters
        ----------
        namespace_id : str
            Namespace id

        path : str
            Absolute filesystem path

        limit : typing.Optional[int]
            Maximum page size

        cursor : typing.Optional[str]
            Opaque directory-list page cursor

        include_attributes : typing.Optional[bool]
            Project each entry's attribute map and revision (`true` or `false`). Defaults to `false`: a page holds many entries and each map may be 64 KiB, so a listing does not carry them unless asked.

        snapshot_id : typing.Optional[CheckpointId]
            Use the directory state captured by this snapshot

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ListPathEntriesResponse
            Directory listing page

        Examples
        --------
        from loonfs.server import LoonFS

        client = LoonFS(
            token="YOUR_TOKEN",
            base_url="https://yourhost.com/path/to/api",
        )
        client.files.list(
            namespace_id="namespace_id",
            path="path",
            snapshot_id="chk_00000000000000000000000000000002",
        )
        """
        _response = self._raw_client.list(
            namespace_id,
            path=path,
            limit=limit,
            cursor=cursor,
            include_attributes=include_attributes,
            snapshot_id=snapshot_id,
            request_options=request_options,
        )
        return _response.data

    def retrieve(
        self,
        namespace_id: str,
        *,
        path: str,
        include_attributes: typing.Optional[bool] = None,
        snapshot_id: typing.Optional[CheckpointId] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> PathEntry:
        """
        Returns path metadata from the current state or a live snapshot.

        Parameters
        ----------
        namespace_id : str
            Namespace id

        path : str
            Absolute filesystem path

        include_attributes : typing.Optional[bool]
            Project the inode's attribute map and revision (`true` or `false`). Defaults to `true`: a stat answers for one path and a map is capped at 64 KiB.

        snapshot_id : typing.Optional[CheckpointId]
            Use the path state captured by this snapshot

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        PathEntry
            Authoritative path entry

        Examples
        --------
        from loonfs.server import LoonFS

        client = LoonFS(
            token="YOUR_TOKEN",
            base_url="https://yourhost.com/path/to/api",
        )
        client.files.retrieve(
            namespace_id="namespace_id",
            path="path",
            snapshot_id="chk_00000000000000000000000000000002",
        )
        """
        _response = self._raw_client.retrieve(
            namespace_id,
            path=path,
            include_attributes=include_attributes,
            snapshot_id=snapshot_id,
            request_options=request_options,
        )
        return _response.data

    def list_revisions(
        self,
        namespace_id: str,
        *,
        path: str,
        limit: typing.Optional[int] = None,
        cursor: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ListFileRevisionsResponse:
        """
        Resolves the current path to a file inode and returns revisions for that file. If the file could be renamed, use the inode revision API for stable identity.

        Parameters
        ----------
        namespace_id : str
            Namespace id

        path : str
            Absolute file path

        limit : typing.Optional[int]
            Maximum page size

        cursor : typing.Optional[str]
            Opaque file-revisions page cursor

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ListFileRevisionsResponse
            File revisions

        Examples
        --------
        from loonfs.server import LoonFS

        client = LoonFS(
            token="YOUR_TOKEN",
            base_url="https://yourhost.com/path/to/api",
        )
        client.files.list_revisions(
            namespace_id="namespace_id",
            path="path",
        )
        """
        _response = self._raw_client.list_revisions(
            namespace_id, path=path, limit=limit, cursor=cursor, request_options=request_options
        )
        return _response.data

    def grep(
        self,
        namespace_id: str,
        *,
        pattern: str,
        case_insensitive: typing.Optional[bool] = None,
        path_prefix: typing.Optional[str] = None,
        allow_scan: typing.Optional[bool] = None,
        allow_stale: typing.Optional[bool] = None,
        limit: typing.Optional[int] = None,
        cursor: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> GrepResponse:
        """
        Searches file content with a regular expression, accelerated by the namespace's grep index. Matches are verified against the real pattern and returned in ascending `(inode_id, byte_offset)` order; revisions committed after the index watermark are scanned exhaustively unless `allow_stale` skips them. Requires this deployment to serve grep and the namespace to carry a materialized active grep root.

        Parameters
        ----------
        namespace_id : str
            Namespace id

        pattern : str
            Pattern in the Rust `regex` crate's dialect. Its UTF-8 encoding must be at most 1024 bytes.

        case_insensitive : typing.Optional[bool]
            Match case-insensitively (`true` or `false`). Defaults to `false`.

        path_prefix : typing.Optional[str]
            Complete absolute path used to restrict matches.

        allow_scan : typing.Optional[bool]
            Permit a capped exhaustive scan when the pattern has no required grams (`true` or `false`). Defaults to `false`.

        allow_stale : typing.Optional[bool]
            Return indexed-only results when the unindexed tail exceeds the scan budget (`true` or `false`). Defaults to `false`.

        limit : typing.Optional[int]
            Maximum matches per page

        cursor : typing.Optional[str]
            Opaque grep page cursor

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        GrepResponse
            One page of matches

        Examples
        --------
        from loonfs.server import LoonFS

        client = LoonFS(
            token="YOUR_TOKEN",
            base_url="https://yourhost.com/path/to/api",
        )
        client.files.grep(
            namespace_id="namespace_id",
            pattern="pattern",
        )
        """
        _response = self._raw_client.grep(
            namespace_id,
            pattern=pattern,
            case_insensitive=case_insensitive,
            path_prefix=path_prefix,
            allow_scan=allow_scan,
            allow_stale=allow_stale,
            limit=limit,
            cursor=cursor,
            request_options=request_options,
        )
        return _response.data


class AsyncFilesClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawFilesClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> AsyncRawFilesClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawFilesClient
        """
        return self._raw_client

    async def content(
        self,
        namespace_id: str,
        *,
        path: str,
        revision_no: typing.Optional[RevisionNo] = None,
        snapshot_id: typing.Optional[CheckpointId] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> typing.AsyncIterator[bytes]:
        """
        Returns the current file bytes, a retained revision, or the revision captured by a live snapshot.

        Parameters
        ----------
        namespace_id : str
            Namespace id

        path : str
            Absolute file path

        revision_no : typing.Optional[RevisionNo]
            Optional prior revision number; cannot be combined with snapshot_id

        snapshot_id : typing.Optional[CheckpointId]
            Use the file revision captured by this snapshot

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration. You can pass in configuration such as `chunk_size`, and more to customize the request and response.

        Returns
        -------
        typing.AsyncIterator[bytes]
            File bytes

        Examples
        --------
        import asyncio

        from loonfs.server import AsyncLoonFS

        client = AsyncLoonFS(
            token="YOUR_TOKEN",
            base_url="https://yourhost.com/path/to/api",
        )


        async def main() -> None:
            await client.files.content(
                namespace_id="namespace_id",
                path="path",
            )


        asyncio.run(main())
        """
        async with self._raw_client.content(
            namespace_id, path=path, revision_no=revision_no, snapshot_id=snapshot_id, request_options=request_options
        ) as r:
            async for _chunk in r.data:
                yield _chunk

    async def create_download(
        self,
        namespace_id: str,
        *,
        path: AbsolutePath,
        snapshot_id: typing.Optional[CheckpointId] = None,
        revision_no: typing.Optional[RevisionNo] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> BeginDownloadResponse:
        """
        Authorizes one direct read of a file's content object and returns a short-lived presigned GET capability, the resolved revision, and the content reference the client checks the arriving bytes against. `Range` is outside the signature, so one grant serves ranged, resumed, and parallel reads. Deployments that cannot presign answer 501 `not_supported`; the proxied `GET /filesystem/content` route stays available and is capped by `download.max_content_bytes`.

        Parameters
        ----------
        namespace_id : str
            Namespace id

        path : AbsolutePath
            Absolute path of the file to read.

        snapshot_id : typing.Optional[CheckpointId]
            Use the file revision captured by this snapshot

        revision_no : typing.Optional[RevisionNo]
            Revision to read, or `None` for the path's current revision.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        BeginDownloadResponse
            Download authorized

        Examples
        --------
        import asyncio

        from loonfs.server import AsyncLoonFS

        client = AsyncLoonFS(
            token="YOUR_TOKEN",
            base_url="https://yourhost.com/path/to/api",
        )


        async def main() -> None:
            await client.files.create_download(
                namespace_id="namespace_id",
                snapshot_id="chk_00000000000000000000000000000002",
                path="/docs/report.txt",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.create_download(
            namespace_id, path=path, snapshot_id=snapshot_id, revision_no=revision_no, request_options=request_options
        )
        return _response.data

    async def list(
        self,
        namespace_id: str,
        *,
        path: str,
        limit: typing.Optional[int] = None,
        cursor: typing.Optional[str] = None,
        include_attributes: typing.Optional[bool] = None,
        snapshot_id: typing.Optional[CheckpointId] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ListPathEntriesResponse:
        """
        Lists a directory from the current state or a live snapshot.

        Parameters
        ----------
        namespace_id : str
            Namespace id

        path : str
            Absolute filesystem path

        limit : typing.Optional[int]
            Maximum page size

        cursor : typing.Optional[str]
            Opaque directory-list page cursor

        include_attributes : typing.Optional[bool]
            Project each entry's attribute map and revision (`true` or `false`). Defaults to `false`: a page holds many entries and each map may be 64 KiB, so a listing does not carry them unless asked.

        snapshot_id : typing.Optional[CheckpointId]
            Use the directory state captured by this snapshot

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ListPathEntriesResponse
            Directory listing page

        Examples
        --------
        import asyncio

        from loonfs.server import AsyncLoonFS

        client = AsyncLoonFS(
            token="YOUR_TOKEN",
            base_url="https://yourhost.com/path/to/api",
        )


        async def main() -> None:
            await client.files.list(
                namespace_id="namespace_id",
                path="path",
                snapshot_id="chk_00000000000000000000000000000002",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.list(
            namespace_id,
            path=path,
            limit=limit,
            cursor=cursor,
            include_attributes=include_attributes,
            snapshot_id=snapshot_id,
            request_options=request_options,
        )
        return _response.data

    async def retrieve(
        self,
        namespace_id: str,
        *,
        path: str,
        include_attributes: typing.Optional[bool] = None,
        snapshot_id: typing.Optional[CheckpointId] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> PathEntry:
        """
        Returns path metadata from the current state or a live snapshot.

        Parameters
        ----------
        namespace_id : str
            Namespace id

        path : str
            Absolute filesystem path

        include_attributes : typing.Optional[bool]
            Project the inode's attribute map and revision (`true` or `false`). Defaults to `true`: a stat answers for one path and a map is capped at 64 KiB.

        snapshot_id : typing.Optional[CheckpointId]
            Use the path state captured by this snapshot

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        PathEntry
            Authoritative path entry

        Examples
        --------
        import asyncio

        from loonfs.server import AsyncLoonFS

        client = AsyncLoonFS(
            token="YOUR_TOKEN",
            base_url="https://yourhost.com/path/to/api",
        )


        async def main() -> None:
            await client.files.retrieve(
                namespace_id="namespace_id",
                path="path",
                snapshot_id="chk_00000000000000000000000000000002",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.retrieve(
            namespace_id,
            path=path,
            include_attributes=include_attributes,
            snapshot_id=snapshot_id,
            request_options=request_options,
        )
        return _response.data

    async def list_revisions(
        self,
        namespace_id: str,
        *,
        path: str,
        limit: typing.Optional[int] = None,
        cursor: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ListFileRevisionsResponse:
        """
        Resolves the current path to a file inode and returns revisions for that file. If the file could be renamed, use the inode revision API for stable identity.

        Parameters
        ----------
        namespace_id : str
            Namespace id

        path : str
            Absolute file path

        limit : typing.Optional[int]
            Maximum page size

        cursor : typing.Optional[str]
            Opaque file-revisions page cursor

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ListFileRevisionsResponse
            File revisions

        Examples
        --------
        import asyncio

        from loonfs.server import AsyncLoonFS

        client = AsyncLoonFS(
            token="YOUR_TOKEN",
            base_url="https://yourhost.com/path/to/api",
        )


        async def main() -> None:
            await client.files.list_revisions(
                namespace_id="namespace_id",
                path="path",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.list_revisions(
            namespace_id, path=path, limit=limit, cursor=cursor, request_options=request_options
        )
        return _response.data

    async def grep(
        self,
        namespace_id: str,
        *,
        pattern: str,
        case_insensitive: typing.Optional[bool] = None,
        path_prefix: typing.Optional[str] = None,
        allow_scan: typing.Optional[bool] = None,
        allow_stale: typing.Optional[bool] = None,
        limit: typing.Optional[int] = None,
        cursor: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> GrepResponse:
        """
        Searches file content with a regular expression, accelerated by the namespace's grep index. Matches are verified against the real pattern and returned in ascending `(inode_id, byte_offset)` order; revisions committed after the index watermark are scanned exhaustively unless `allow_stale` skips them. Requires this deployment to serve grep and the namespace to carry a materialized active grep root.

        Parameters
        ----------
        namespace_id : str
            Namespace id

        pattern : str
            Pattern in the Rust `regex` crate's dialect. Its UTF-8 encoding must be at most 1024 bytes.

        case_insensitive : typing.Optional[bool]
            Match case-insensitively (`true` or `false`). Defaults to `false`.

        path_prefix : typing.Optional[str]
            Complete absolute path used to restrict matches.

        allow_scan : typing.Optional[bool]
            Permit a capped exhaustive scan when the pattern has no required grams (`true` or `false`). Defaults to `false`.

        allow_stale : typing.Optional[bool]
            Return indexed-only results when the unindexed tail exceeds the scan budget (`true` or `false`). Defaults to `false`.

        limit : typing.Optional[int]
            Maximum matches per page

        cursor : typing.Optional[str]
            Opaque grep page cursor

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        GrepResponse
            One page of matches

        Examples
        --------
        import asyncio

        from loonfs.server import AsyncLoonFS

        client = AsyncLoonFS(
            token="YOUR_TOKEN",
            base_url="https://yourhost.com/path/to/api",
        )


        async def main() -> None:
            await client.files.grep(
                namespace_id="namespace_id",
                pattern="pattern",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.grep(
            namespace_id,
            pattern=pattern,
            case_insensitive=case_insensitive,
            path_prefix=path_prefix,
            allow_scan=allow_scan,
            allow_stale=allow_stale,
            limit=limit,
            cursor=cursor,
            request_options=request_options,
        )
        return _response.data
