# This file was auto-generated by Fern from our API Definition.

import typing

from ..core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ..core.request_options import RequestOptions
from ..types.actor_id import ActorId
from ..types.commit_assertion import CommitAssertion
from ..types.commit_id import CommitId
from ..types.commit_response import CommitResponse
from ..types.content_token import ContentToken
from ..types.filesystem_operation import FilesystemOperation
from .raw_client import AsyncRawCommitsClient, RawCommitsClient

# this is used as the default value for optional parameters
OMIT = typing.cast(typing.Any, ...)


class CommitsClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawCommitsClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> RawCommitsClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawCommitsClient
        """
        return self._raw_client

    def create(
        self,
        namespace_id: str,
        *,
        actor_id: ActorId,
        commit_id: CommitId,
        operations: typing.Sequence[FilesystemOperation],
        assertions: typing.Optional[typing.Sequence[CommitAssertion]] = OMIT,
        content_tokens: typing.Optional[typing.Sequence[ContentToken]] = OMIT,
        message: typing.Optional[str] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> CommitResponse:
        """
        Applies one commit: an ordered, non-empty list of path operations that commit together as one logical commit, under one commit id that makes retries idempotent. Request assertions check the pre-state after receipt resolution and before operations; a failed assertion names its position in `details.assertion_index`. A single-operation call is the one-element case. The first operation that fails aborts the whole request, and a request carrying more than one operation names that operation's position in `details.operation_index`.

        Parameters
        ----------
        namespace_id : str
            Namespace id

        actor_id : ActorId
            Actor responsible for the commit, as supplied by the application.

        commit_id : CommitId
            Caller-supplied idempotency key for the whole request.

        operations : typing.Sequence[FilesystemOperation]
            The non-empty ordered operations to commit atomically.

        assertions : typing.Optional[typing.Sequence[CommitAssertion]]
            Ordered admission conditions evaluated before any operations.

        content_tokens : typing.Optional[typing.Sequence[ContentToken]]
            The proofs for new external content references in this request.

        message : typing.Optional[str]
            The caller annotation that forms part of the commit identity.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        CommitResponse
            Commit applied

        Examples
        --------
        from loonfs.server import FilesystemOperation_CopyPath, LoonFS

        client = LoonFS(
            token="YOUR_TOKEN",
            base_url="https://yourhost.com/path/to/api",
        )
        client.commits.create(
            namespace_id="namespace_id",
            actor_id="usr_8f3c",
            commit_id="c_f3a9c2d4b6e8417a90c5d2f8e1b7a6c0",
            operations=[
                FilesystemOperation_CopyPath(
                    from_path="/docs/report.txt",
                    to_path="/docs/report.txt",
                )
            ],
        )
        """
        _response = self._raw_client.create(
            namespace_id,
            actor_id=actor_id,
            commit_id=commit_id,
            operations=operations,
            assertions=assertions,
            content_tokens=content_tokens,
            message=message,
            request_options=request_options,
        )
        return _response.data


class AsyncCommitsClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawCommitsClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> AsyncRawCommitsClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawCommitsClient
        """
        return self._raw_client

    async def create(
        self,
        namespace_id: str,
        *,
        actor_id: ActorId,
        commit_id: CommitId,
        operations: typing.Sequence[FilesystemOperation],
        assertions: typing.Optional[typing.Sequence[CommitAssertion]] = OMIT,
        content_tokens: typing.Optional[typing.Sequence[ContentToken]] = OMIT,
        message: typing.Optional[str] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> CommitResponse:
        """
        Applies one commit: an ordered, non-empty list of path operations that commit together as one logical commit, under one commit id that makes retries idempotent. Request assertions check the pre-state after receipt resolution and before operations; a failed assertion names its position in `details.assertion_index`. A single-operation call is the one-element case. The first operation that fails aborts the whole request, and a request carrying more than one operation names that operation's position in `details.operation_index`.

        Parameters
        ----------
        namespace_id : str
            Namespace id

        actor_id : ActorId
            Actor responsible for the commit, as supplied by the application.

        commit_id : CommitId
            Caller-supplied idempotency key for the whole request.

        operations : typing.Sequence[FilesystemOperation]
            The non-empty ordered operations to commit atomically.

        assertions : typing.Optional[typing.Sequence[CommitAssertion]]
            Ordered admission conditions evaluated before any operations.

        content_tokens : typing.Optional[typing.Sequence[ContentToken]]
            The proofs for new external content references in this request.

        message : typing.Optional[str]
            The caller annotation that forms part of the commit identity.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        CommitResponse
            Commit applied

        Examples
        --------
        import asyncio

        from loonfs.server import AsyncLoonFS, FilesystemOperation_CopyPath

        client = AsyncLoonFS(
            token="YOUR_TOKEN",
            base_url="https://yourhost.com/path/to/api",
        )


        async def main() -> None:
            await client.commits.create(
                namespace_id="namespace_id",
                actor_id="usr_8f3c",
                commit_id="c_f3a9c2d4b6e8417a90c5d2f8e1b7a6c0",
                operations=[
                    FilesystemOperation_CopyPath(
                        from_path="/docs/report.txt",
                        to_path="/docs/report.txt",
                    )
                ],
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.create(
            namespace_id,
            actor_id=actor_id,
            commit_id=commit_id,
            operations=operations,
            assertions=assertions,
            content_tokens=content_tokens,
            message=message,
            request_options=request_options,
        )
        return _response.data
