# This file was auto-generated by Fern from our API Definition.

import typing

from ..core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ..core.request_options import RequestOptions
from ..types.absolute_path import AbsolutePath
from ..types.actor_ref import ActorRef
from ..types.authoritative_path_entry import AuthoritativePathEntry
from ..types.begin_download_response import BeginDownloadResponse
from ..types.change_seq import ChangeSeq
from ..types.changes_response import ChangesResponse
from ..types.commit_id import CommitId
from ..types.commit_response import CommitResponse
from ..types.content_token import ContentToken
from ..types.filesystem_operation import FilesystemOperation
from ..types.list_file_revisions_response import ListFileRevisionsResponse
from ..types.list_path_entries_response import ListPathEntriesResponse
from ..types.list_trash_response import ListTrashResponse
from ..types.revision_no import RevisionNo
from .raw_client import AsyncRawFilesystemClient, RawFilesystemClient

# this is used as the default value for optional parameters
OMIT = typing.cast(typing.Any, ...)


class FilesystemClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawFilesystemClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> RawFilesystemClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawFilesystemClient
        """
        return self._raw_client

    def list_changes(
        self,
        namespace_id: str,
        *,
        after_seq: ChangeSeq,
        limit: typing.Optional[int] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ChangesResponse:
        """
        Returns committed changes from the write-ahead log. Callers can use this feed to keep another projection synchronized with WAL history.

        Parameters
        ----------
        namespace_id : str
            Namespace id

        after_seq : ChangeSeq
            Return committed changes after this sequence

        limit : typing.Optional[int]
            Maximum page size

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ChangesResponse
            Committed changes

        Examples
        --------
        from loonfs import LoonFS

        client = LoonFS(
            token="YOUR_TOKEN",
            base_url="https://yourhost.com/path/to/api",
        )
        client.filesystem.list_changes(
            namespace_id="namespace_id",
            after_seq=1000000,
        )
        """
        _response = self._raw_client.list_changes(
            namespace_id, after_seq=after_seq, limit=limit, request_options=request_options
        )
        return _response.data

    def apply_commit(
        self,
        namespace_id: str,
        *,
        actor: ActorRef,
        commit_id: CommitId,
        operations: typing.Sequence[FilesystemOperation],
        content_tokens: typing.Optional[typing.Sequence[ContentToken]] = OMIT,
        message: typing.Optional[str] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> CommitResponse:
        """
        Applies one commit: an ordered, non-empty list of path operations that commit together as one logical commit, under one commit id that makes retries idempotent. A single-operation call is the one-element case. The first operation that fails aborts the whole request, and a request carrying more than one operation names that operation's position in `details.operation_index`.

        Parameters
        ----------
        namespace_id : str
            Namespace id

        actor : ActorRef
            Actor responsible for the commit, as supplied by the application.

        commit_id : CommitId
            Caller-supplied idempotency key for the whole request.

        operations : typing.Sequence[FilesystemOperation]
            Ordered operations to apply. Must be non-empty; they commit all
            together or not at all.

        content_tokens : typing.Optional[typing.Sequence[ContentToken]]
            Proofs for any new external content refs introduced by this request.
            One proof covers every operation that names its content ref.

        message : typing.Optional[str]
            Caller annotation recorded on the commit and reported by the change
            feed. Part of the commit's identity: reusing `commit_id` with a
            different message is a `commit_id_reuse_conflict`, exactly as it is
            for an explicit commit.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        CommitResponse
            Commit applied

        Examples
        --------
        from loonfs import ActorRef, FilesystemOperation_CreateDirectory, LoonFS

        client = LoonFS(
            token="YOUR_TOKEN",
            base_url="https://yourhost.com/path/to/api",
        )
        client.filesystem.apply_commit(
            namespace_id="namespace_id",
            actor=ActorRef(
                id="usr_8f3c",
                kind="user",
            ),
            commit_id="c_f3a9c2d4b6e8417a90c5d2f8e1b7a6c0",
            operations=[
                FilesystemOperation_CreateDirectory(
                    path="/docs/report.txt",
                )
            ],
        )
        """
        _response = self._raw_client.apply_commit(
            namespace_id,
            actor=actor,
            commit_id=commit_id,
            operations=operations,
            content_tokens=content_tokens,
            message=message,
            request_options=request_options,
        )
        return _response.data

    def get_file_bytes(
        self,
        namespace_id: str,
        *,
        path: str,
        revision_no: typing.Optional[RevisionNo] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> typing.Iterator[bytes]:
        """
        Returns file bytes for the current revision at a path, or for a specific retained revision when `revision_no` is provided.

        Parameters
        ----------
        namespace_id : str
            Namespace id

        path : str
            Absolute file path

        revision_no : typing.Optional[RevisionNo]
            Optional prior revision number

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration. You can pass in configuration such as `chunk_size`, and more to customize the request and response.

        Returns
        -------
        typing.Iterator[bytes]
            File bytes

        Examples
        --------
        from loonfs import LoonFS

        client = LoonFS(
            token="YOUR_TOKEN",
            base_url="https://yourhost.com/path/to/api",
        )
        client.filesystem.get_file_bytes(
            namespace_id="namespace_id",
            path="path",
        )
        """
        with self._raw_client.get_file_bytes(
            namespace_id, path=path, revision_no=revision_no, request_options=request_options
        ) as r:
            yield from r.data

    def begin_download(
        self,
        namespace_id: str,
        *,
        path: AbsolutePath,
        revision_no: typing.Optional[RevisionNo] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> BeginDownloadResponse:
        """
        Authorizes one direct read of a file's content object and returns a short-lived presigned GET capability, the resolved revision, and the content reference the client checks the arriving bytes against. `Range` is outside the signature, so one grant serves ranged, resumed, and parallel reads. Deployments that cannot presign answer 501 `not_supported`; the proxied `GET /filesystem/content` route stays available and is capped by `download.max_content_bytes`.

        Parameters
        ----------
        namespace_id : str
            Namespace id

        path : AbsolutePath
            Absolute path of the file to read.

        revision_no : typing.Optional[RevisionNo]
            Revision to read, or `None` for the path's current revision.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        BeginDownloadResponse
            Download authorized

        Examples
        --------
        from loonfs import LoonFS

        client = LoonFS(
            token="YOUR_TOKEN",
            base_url="https://yourhost.com/path/to/api",
        )
        client.filesystem.begin_download(
            namespace_id="namespace_id",
            path="/docs/report.txt",
        )
        """
        _response = self._raw_client.begin_download(
            namespace_id, path=path, revision_no=revision_no, request_options=request_options
        )
        return _response.data

    def list_path_entries(
        self,
        namespace_id: str,
        *,
        path: str,
        limit: typing.Optional[int] = None,
        cursor: typing.Optional[str] = None,
        include_attributes: typing.Optional[bool] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ListPathEntriesResponse:
        """
        Lists a directory at the current namespace head.

        Parameters
        ----------
        namespace_id : str
            Namespace id

        path : str
            Absolute filesystem path

        limit : typing.Optional[int]
            Maximum page size

        cursor : typing.Optional[str]
            Opaque directory-list page cursor

        include_attributes : typing.Optional[bool]
            Project each entry's attribute map and revision (`true` or `false`). Defaults to `false`: a page holds many entries and each map may be 64 KiB, so a listing does not carry them unless asked.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ListPathEntriesResponse
            Directory listing page

        Examples
        --------
        from loonfs import LoonFS

        client = LoonFS(
            token="YOUR_TOKEN",
            base_url="https://yourhost.com/path/to/api",
        )
        client.filesystem.list_path_entries(
            namespace_id="namespace_id",
            path="path",
        )
        """
        _response = self._raw_client.list_path_entries(
            namespace_id,
            path=path,
            limit=limit,
            cursor=cursor,
            include_attributes=include_attributes,
            request_options=request_options,
        )
        return _response.data

    def list_file_revisions(
        self,
        namespace_id: str,
        *,
        path: str,
        limit: typing.Optional[int] = None,
        cursor: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ListFileRevisionsResponse:
        """
        Resolves the current path to a file inode and returns revisions for that file. If the file could be renamed, use the inode revision API for stable identity.

        Parameters
        ----------
        namespace_id : str
            Namespace id

        path : str
            Absolute file path

        limit : typing.Optional[int]
            Maximum page size

        cursor : typing.Optional[str]
            Opaque file-revisions page cursor

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ListFileRevisionsResponse
            File revisions

        Examples
        --------
        from loonfs import LoonFS

        client = LoonFS(
            token="YOUR_TOKEN",
            base_url="https://yourhost.com/path/to/api",
        )
        client.filesystem.list_file_revisions(
            namespace_id="namespace_id",
            path="path",
        )
        """
        _response = self._raw_client.list_file_revisions(
            namespace_id, path=path, limit=limit, cursor=cursor, request_options=request_options
        )
        return _response.data

    def stat_path(
        self,
        namespace_id: str,
        *,
        path: str,
        include_attributes: typing.Optional[bool] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> AuthoritativePathEntry:
        """
        Returns the current metadata for a path, including inode identity, kind, display name, file content metadata, and the inode's attributes.

        Parameters
        ----------
        namespace_id : str
            Namespace id

        path : str
            Absolute filesystem path

        include_attributes : typing.Optional[bool]
            Project the inode's attribute map and revision (`true` or `false`). Defaults to `true`: a stat answers for one path and a map is capped at 64 KiB.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        AuthoritativePathEntry
            Authoritative path entry

        Examples
        --------
        from loonfs import LoonFS

        client = LoonFS(
            token="YOUR_TOKEN",
            base_url="https://yourhost.com/path/to/api",
        )
        client.filesystem.stat_path(
            namespace_id="namespace_id",
            path="path",
        )
        """
        _response = self._raw_client.stat_path(
            namespace_id, path=path, include_attributes=include_attributes, request_options=request_options
        )
        return _response.data

    def list_trash(
        self,
        namespace_id: str,
        *,
        limit: typing.Optional[int] = None,
        cursor: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ListTrashResponse:
        """
        Returns the namespace's recoverable deletions, oldest deletion first. Entries never age out at the retention floor; each carries the inode id and deletion sequence undelete needs, plus the deleted name when the delete recorded one.

        Parameters
        ----------
        namespace_id : str
            Namespace id

        limit : typing.Optional[int]
            Maximum page size

        cursor : typing.Optional[str]
            Opaque trash page cursor

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ListTrashResponse
            Recoverable deletions

        Examples
        --------
        from loonfs import LoonFS

        client = LoonFS(
            token="YOUR_TOKEN",
            base_url="https://yourhost.com/path/to/api",
        )
        client.filesystem.list_trash(
            namespace_id="namespace_id",
        )
        """
        _response = self._raw_client.list_trash(
            namespace_id, limit=limit, cursor=cursor, request_options=request_options
        )
        return _response.data


class AsyncFilesystemClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawFilesystemClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> AsyncRawFilesystemClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawFilesystemClient
        """
        return self._raw_client

    async def list_changes(
        self,
        namespace_id: str,
        *,
        after_seq: ChangeSeq,
        limit: typing.Optional[int] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ChangesResponse:
        """
        Returns committed changes from the write-ahead log. Callers can use this feed to keep another projection synchronized with WAL history.

        Parameters
        ----------
        namespace_id : str
            Namespace id

        after_seq : ChangeSeq
            Return committed changes after this sequence

        limit : typing.Optional[int]
            Maximum page size

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ChangesResponse
            Committed changes

        Examples
        --------
        import asyncio

        from loonfs import AsyncLoonFS

        client = AsyncLoonFS(
            token="YOUR_TOKEN",
            base_url="https://yourhost.com/path/to/api",
        )


        async def main() -> None:
            await client.filesystem.list_changes(
                namespace_id="namespace_id",
                after_seq=1000000,
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.list_changes(
            namespace_id, after_seq=after_seq, limit=limit, request_options=request_options
        )
        return _response.data

    async def apply_commit(
        self,
        namespace_id: str,
        *,
        actor: ActorRef,
        commit_id: CommitId,
        operations: typing.Sequence[FilesystemOperation],
        content_tokens: typing.Optional[typing.Sequence[ContentToken]] = OMIT,
        message: typing.Optional[str] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> CommitResponse:
        """
        Applies one commit: an ordered, non-empty list of path operations that commit together as one logical commit, under one commit id that makes retries idempotent. A single-operation call is the one-element case. The first operation that fails aborts the whole request, and a request carrying more than one operation names that operation's position in `details.operation_index`.

        Parameters
        ----------
        namespace_id : str
            Namespace id

        actor : ActorRef
            Actor responsible for the commit, as supplied by the application.

        commit_id : CommitId
            Caller-supplied idempotency key for the whole request.

        operations : typing.Sequence[FilesystemOperation]
            Ordered operations to apply. Must be non-empty; they commit all
            together or not at all.

        content_tokens : typing.Optional[typing.Sequence[ContentToken]]
            Proofs for any new external content refs introduced by this request.
            One proof covers every operation that names its content ref.

        message : typing.Optional[str]
            Caller annotation recorded on the commit and reported by the change
            feed. Part of the commit's identity: reusing `commit_id` with a
            different message is a `commit_id_reuse_conflict`, exactly as it is
            for an explicit commit.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        CommitResponse
            Commit applied

        Examples
        --------
        import asyncio

        from loonfs import ActorRef, AsyncLoonFS, FilesystemOperation_CreateDirectory

        client = AsyncLoonFS(
            token="YOUR_TOKEN",
            base_url="https://yourhost.com/path/to/api",
        )


        async def main() -> None:
            await client.filesystem.apply_commit(
                namespace_id="namespace_id",
                actor=ActorRef(
                    id="usr_8f3c",
                    kind="user",
                ),
                commit_id="c_f3a9c2d4b6e8417a90c5d2f8e1b7a6c0",
                operations=[
                    FilesystemOperation_CreateDirectory(
                        path="/docs/report.txt",
                    )
                ],
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.apply_commit(
            namespace_id,
            actor=actor,
            commit_id=commit_id,
            operations=operations,
            content_tokens=content_tokens,
            message=message,
            request_options=request_options,
        )
        return _response.data

    async def get_file_bytes(
        self,
        namespace_id: str,
        *,
        path: str,
        revision_no: typing.Optional[RevisionNo] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> typing.AsyncIterator[bytes]:
        """
        Returns file bytes for the current revision at a path, or for a specific retained revision when `revision_no` is provided.

        Parameters
        ----------
        namespace_id : str
            Namespace id

        path : str
            Absolute file path

        revision_no : typing.Optional[RevisionNo]
            Optional prior revision number

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration. You can pass in configuration such as `chunk_size`, and more to customize the request and response.

        Returns
        -------
        typing.AsyncIterator[bytes]
            File bytes

        Examples
        --------
        import asyncio

        from loonfs import AsyncLoonFS

        client = AsyncLoonFS(
            token="YOUR_TOKEN",
            base_url="https://yourhost.com/path/to/api",
        )


        async def main() -> None:
            await client.filesystem.get_file_bytes(
                namespace_id="namespace_id",
                path="path",
            )


        asyncio.run(main())
        """
        async with self._raw_client.get_file_bytes(
            namespace_id, path=path, revision_no=revision_no, request_options=request_options
        ) as r:
            async for _chunk in r.data:
                yield _chunk

    async def begin_download(
        self,
        namespace_id: str,
        *,
        path: AbsolutePath,
        revision_no: typing.Optional[RevisionNo] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> BeginDownloadResponse:
        """
        Authorizes one direct read of a file's content object and returns a short-lived presigned GET capability, the resolved revision, and the content reference the client checks the arriving bytes against. `Range` is outside the signature, so one grant serves ranged, resumed, and parallel reads. Deployments that cannot presign answer 501 `not_supported`; the proxied `GET /filesystem/content` route stays available and is capped by `download.max_content_bytes`.

        Parameters
        ----------
        namespace_id : str
            Namespace id

        path : AbsolutePath
            Absolute path of the file to read.

        revision_no : typing.Optional[RevisionNo]
            Revision to read, or `None` for the path's current revision.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        BeginDownloadResponse
            Download authorized

        Examples
        --------
        import asyncio

        from loonfs import AsyncLoonFS

        client = AsyncLoonFS(
            token="YOUR_TOKEN",
            base_url="https://yourhost.com/path/to/api",
        )


        async def main() -> None:
            await client.filesystem.begin_download(
                namespace_id="namespace_id",
                path="/docs/report.txt",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.begin_download(
            namespace_id, path=path, revision_no=revision_no, request_options=request_options
        )
        return _response.data

    async def list_path_entries(
        self,
        namespace_id: str,
        *,
        path: str,
        limit: typing.Optional[int] = None,
        cursor: typing.Optional[str] = None,
        include_attributes: typing.Optional[bool] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ListPathEntriesResponse:
        """
        Lists a directory at the current namespace head.

        Parameters
        ----------
        namespace_id : str
            Namespace id

        path : str
            Absolute filesystem path

        limit : typing.Optional[int]
            Maximum page size

        cursor : typing.Optional[str]
            Opaque directory-list page cursor

        include_attributes : typing.Optional[bool]
            Project each entry's attribute map and revision (`true` or `false`). Defaults to `false`: a page holds many entries and each map may be 64 KiB, so a listing does not carry them unless asked.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ListPathEntriesResponse
            Directory listing page

        Examples
        --------
        import asyncio

        from loonfs import AsyncLoonFS

        client = AsyncLoonFS(
            token="YOUR_TOKEN",
            base_url="https://yourhost.com/path/to/api",
        )


        async def main() -> None:
            await client.filesystem.list_path_entries(
                namespace_id="namespace_id",
                path="path",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.list_path_entries(
            namespace_id,
            path=path,
            limit=limit,
            cursor=cursor,
            include_attributes=include_attributes,
            request_options=request_options,
        )
        return _response.data

    async def list_file_revisions(
        self,
        namespace_id: str,
        *,
        path: str,
        limit: typing.Optional[int] = None,
        cursor: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ListFileRevisionsResponse:
        """
        Resolves the current path to a file inode and returns revisions for that file. If the file could be renamed, use the inode revision API for stable identity.

        Parameters
        ----------
        namespace_id : str
            Namespace id

        path : str
            Absolute file path

        limit : typing.Optional[int]
            Maximum page size

        cursor : typing.Optional[str]
            Opaque file-revisions page cursor

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ListFileRevisionsResponse
            File revisions

        Examples
        --------
        import asyncio

        from loonfs import AsyncLoonFS

        client = AsyncLoonFS(
            token="YOUR_TOKEN",
            base_url="https://yourhost.com/path/to/api",
        )


        async def main() -> None:
            await client.filesystem.list_file_revisions(
                namespace_id="namespace_id",
                path="path",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.list_file_revisions(
            namespace_id, path=path, limit=limit, cursor=cursor, request_options=request_options
        )
        return _response.data

    async def stat_path(
        self,
        namespace_id: str,
        *,
        path: str,
        include_attributes: typing.Optional[bool] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> AuthoritativePathEntry:
        """
        Returns the current metadata for a path, including inode identity, kind, display name, file content metadata, and the inode's attributes.

        Parameters
        ----------
        namespace_id : str
            Namespace id

        path : str
            Absolute filesystem path

        include_attributes : typing.Optional[bool]
            Project the inode's attribute map and revision (`true` or `false`). Defaults to `true`: a stat answers for one path and a map is capped at 64 KiB.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        AuthoritativePathEntry
            Authoritative path entry

        Examples
        --------
        import asyncio

        from loonfs import AsyncLoonFS

        client = AsyncLoonFS(
            token="YOUR_TOKEN",
            base_url="https://yourhost.com/path/to/api",
        )


        async def main() -> None:
            await client.filesystem.stat_path(
                namespace_id="namespace_id",
                path="path",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.stat_path(
            namespace_id, path=path, include_attributes=include_attributes, request_options=request_options
        )
        return _response.data

    async def list_trash(
        self,
        namespace_id: str,
        *,
        limit: typing.Optional[int] = None,
        cursor: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ListTrashResponse:
        """
        Returns the namespace's recoverable deletions, oldest deletion first. Entries never age out at the retention floor; each carries the inode id and deletion sequence undelete needs, plus the deleted name when the delete recorded one.

        Parameters
        ----------
        namespace_id : str
            Namespace id

        limit : typing.Optional[int]
            Maximum page size

        cursor : typing.Optional[str]
            Opaque trash page cursor

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ListTrashResponse
            Recoverable deletions

        Examples
        --------
        import asyncio

        from loonfs import AsyncLoonFS

        client = AsyncLoonFS(
            token="YOUR_TOKEN",
            base_url="https://yourhost.com/path/to/api",
        )


        async def main() -> None:
            await client.filesystem.list_trash(
                namespace_id="namespace_id",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.list_trash(
            namespace_id, limit=limit, cursor=cursor, request_options=request_options
        )
        return _response.data
